.form-crear-evento{
    .formulario__btn{
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 2rem;
        background-color: rgba($azul_oscuro,0.1);

        .formulario__btnContainer{
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    .formulario__h2Container{
        h2{margin: 0;}
        .formulario__h2{
            font-size: 3rem;
            width: 33.8rem;
            text-align: center;
        }
    }
    
    .formulario__iconContainer{
        display: block;
        width: 6rem;
        padding: 1rem;
    }
    .formulario__iconContainer--arrow{
        width: 3rem;
        padding: 0.5rem;
    }
    
    
    
    
    
    
    
      
    }//  CIERRE PRINCIPAL 