.fichaPerfiles {
    display: flex; 
    gap: 1rem;
    justify-content: center;
    @include mqTablet {
        gap: 2rem;}
    @include mqDesktop {
        gap: 3rem;
        margin-right: 4rem;
    }
}

.fichaPerfil__container{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(#cbb32d44, 1);
    border-radius: 1.4rem;

    @include mqTablet {
        width: 4rem;
        height: 4rem;      
    }

    @include mqDesktop {
        @include grid-row (2, .5rem);
        @include grid-col (1, .0rem);
        margin: 0 auto;
        width: 6rem;
        height: 6rem;
    }
    
    .fichaPerfil__nombreCtaRegular{
        display: none;
        width: 6rem;
        color: $blanco;
        margin: 0;
        @include mqDesktop{
            margin-top: 1rem;
            display: flex;
        }
        h3{
            margin: auto auto;
            font-size: 1rem;
            text-align:center;
            white-space: wrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include mqDesktop {
            font-size: 1.5rem;
                
            }
        }
        
    }
}
.fichaPerfil__imgContainer{
    display: block;
    margin: auto auto;
    padding: 0.3rem;
    width: 2.5rem;
    @include mqTelefono {
        width: 4rem;   
    }
    @include mqDesktop{
        width: 6rem;   
           
    }   
    img{
        margin: auto auto;

        width: 100%;
    }
}
