@mixin mqTelefono {
    @media (min-width: $telefono){
        @content;
    }
}
@mixin mqTablet {
    @media (min-width: $tablet){
        @content;
    }
}
@mixin mqDesktop {
    @media (min-width: $desktop){
        @content;
    }
}
@mixin mqDesktopXL {
    @media (min-width: $desktopXL){
        @content;
    }
}

@mixin grid-col ($numCol, $gap) {
    display: grid;
    grid-template-columns: repeat($numCol, 2fr);
    gap: $gap;
}
@mixin grid-row ($numrow, $gap) {
    display: grid;
    grid-template-rows: repeat($numrow, 2fr);
    gap: $gap;
}


@mixin boton ($bg_color, $font_color, $display, $alto: 2rem, $largo: 2rem) {
    cursor: pointer;
    padding: $alto $largo;
    background-color: $bg_color;
    color: $font_color;
    display: $display;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 1rem;
}