.utl-position-relative {
    position: relative;
}
.utl-ocultar{
    opacity: 0;
    pointer-events: none;
}
.utl-display-none {
    display: none;
}
.utl-border-color-transparente{
    border-color: rgba($blanco, 0);
}
.utl-margin-top-0{
    margin-top: 0;
}

.utl-overflow-hidden{
    overflow: hidden;
}
