
.nav__user{
    margin: 0 auto;
    width: 27rem;

}
// BOTON PRINCIPAL
.lista__btn--1{
    background-color: $azul_gris;
    width: 27rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5rem;
    padding: 0 0.5rem;

}

.lista__imgUsersContainer{
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    .lista__imgUsers{
        width: 100%;
        height: 100%;
    }
}
.icon__container{
    width: 3rem;
    height: 3rem;
    .icon_arrow--1{
        width: 100%;
        height: 100%;
    }
}
.lista__btnTextValue{
    display: block;
    padding: 0 3%;
    text-align: center;
}

.lista__mostrar{
    width: 100%;
    overflow: hidden;
    height: 0;
}















