.header-slider {
    position: relative;
    width: 100%;
}

.header {
    position: absolute;
    z-index: 20;
    width: 100%;
    background-color: rgba($negro, $alpha: 0.5);
    .contenido-header {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        .btn {
            max-width: 20rem;
            margin: 0 auto;
        }
        @include mqDesktop {
            flex-direction: row;
            align-items: center;
        }
    }
}

.logo {
    width: 20rem;
    margin: auto;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    @include mqTablet {
        display: inline;
    }

    .enlace-menu-princip {
        color: rgba($amarillo, $alpha: 0.7);
        font-size: 2rem;
        font-weight: bold;
        padding: .5rem;

        &:hover {
            color: $amarillo;}
    }
}